body {
  padding: 4%;
  font-family: sans-serif;
}

textarea {
  display: block;
}

.flash {
  background-color: yellow;
}

label {
  display: block;
}

div.filename {
  display: inline-block;
  width: 10rem;
}

div.edit {
  display: inline-block;
  width: 3rem;
}

form.delete {
  display: inline-block;
}